# Python
__pycache__/
*.pyc

# Environment
.env
.venv/
venv/

# Model files
*.h5
*.keras
!backend/model/artifacts/crop_disease_mobilenetv2.keras

# Logs
logs/*.log

# Uploads
backend/uploads/*

!backend/uploads/.gitkeep

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Pytest
.pytest_cache/
__pycache__/

# ML Outputs (prevent committing train plots/metrics)
ml/outputs/

# OS Files
.DS_Store
Thumbs.db
